---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title=" À propos | LAMNAWAR Betyseim" description=" À propos | LAMNAWAR Betyseim">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title=" À propos"
				tagline="Merci de votre visite. Pour en savoir plus sur moi et mon parcours, continuez votre lecture ci-dessous."
			>
				
			</Hero>

			<section>
				<h2 class="section-title">Présentation</h2>
				<div class="content">
					<p>
						Je suis une professionnelle évoluant dans le monde du développement web et du support informatique. Je suis une personne curieuse, inventive et toujours avide de nouveaux défis.
						
						Mon parcours m'a permis d'explorer différentes facettes de l'informatique, allant du développement web à l'assistance technique. J'aime aborder les problèmes de manière innovante et trouver des solutions efficaces pour répondre aux besoins des utilisateurs.
						
						En tant que bénévole pour l'association Le Valdocco Nice, j'ai conçu des outils ludopédagogiques pour soutenir les jeunes dans leur apprentissage des mathématiques. Cette expérience m'a permis de renforcer mon approche méthodique et minutieuse, ainsi que mon enthousiasme pour les nouvelles technologies.
						
						Au fil de mon expérience, j'ai cultivé une approche structurée et précise, tout en laissant place à ma créativité pour trouver des solutions originales. Je suis convaincue que chaque défi est une opportunité d'apprentissage et de progression.
						
						N'hésitez pas à parcourir mon portfolio pour en savoir plus sur mon parcours et mes réalisations !
						
					</p>

				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>Diplôme d'Enseignement Universitaire Général en Sciences, Technologies et Santé</p>
					<p>Baccalauréat Économique et Social, Spécialité Sciences Sociales et Politiques</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>Intelligence émotionnelle, Polyvalence, Sociabilité, Diplomatie, Empathie, Créativité</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences informatiques</h2>
				<div class="content">
					<p>
						<p>Développement Web :</p>
						<ul>
							<li>HTML</li>
							<li>CSS</li>
							<li>JavaScript</li>
							<li>PHP</li>
							<li>Apache</li>
							<li>Git</li>
						</ul>
						<p>Programmation :</p>
						<ul>
							<li>Python</li>
							<li>C</li>
							<li>R</li>
							<li>Java</li>
							<li>Processing</li>
						</ul>
						<p>Bases de données :</p>
						<ul>
							<li>MySQL</li>
							<li>PhpMyAdmin</li>
						</ul>

					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
