---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title=" À propos | LAMNAWAR Betyseim" description=" À propos | LAMNAWAR Betyseim">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title=" À propos"
				tagline="Merci de votre visite. Pour en savoir plus sur moi et mon parcours, continuez votre lecture ci-dessous."
			>
				
			</Hero>

			<section>
				<h2 class="section-title">Présentation</h2>
				<div class="content">
					<p>
						Je suis passionnée par les nouvelles technologies et toujours en quête de nouveaux défis. Curieuse et inventive, j'aime relever de nouveaux défis et trouver des solutions efficaces. 
						Mon parcours m'a permis d'explorer plusieurs aspects de l'informatique, et j'ai notamment conçu des outils pédagogiques pour aider les jeunes à progresser en mathématiques dans le cadre de mon bénévolat à l'association Le Valdocco Nice. 
						Cette expérience a renforcé mon approche méthodique, tout en nourrissant ma passion pour les nouvelles technologies. ``
						J'apprends de chaque défi et j'apprécie les opportunités d'amélioration continue. N'hésitez pas à consulter mon portfolio pour découvrir mes projets et mon parcours.
						
					</p>

				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>Diplôme d'Enseignement Universitaire Général en Sciences, Technologies et Santé</p>
					<p>Baccalauréat Économique et Social, Spécialité Sciences Sociales et Politiques</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>Intelligence émotionnelle, Polyvalence, Sociabilité, Diplomatie, Empathie, Créativité</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences informatiques</h2>
				<div class="content">
					<p>
						<p>Développement Web :</p>
						<ul>
							<li>HTML</li>
							<li>CSS</li>
							<li>JavaScript</li>
							<li>PHP</li>
							<li>Apache</li>
							<li>Git</li>
						</ul>
						<p>Programmation :</p>
						<ul>
							<li>Python</li>
							<li>C</li>
							<li>R</li>
							<li>Java</li>
							<li>Processing</li>
						</ul>
						<p>Bases de données :</p>
						<ul>
							<li>MySQL</li>
							<li>PhpMyAdmin</li>
						</ul>

					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
